.tocWrapper {
  position: relative;
  overflow: visible !important;
  height: 100%;
}

.tocContent {
  position: sticky;
  top: 100px;
}

.tocWrapper h6 {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 20px;
  font-weight: 600;
}

.tocWrapper ul {
  border-left: 0px !important;
}
.tocWrapper a {
  @apply text-base hover:dark:brightness-[120%] hover:brightness-[80%];
}

.tableOfContents {
  /* position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem); */
}

.tocWrapper :global(.table-of-contents__link--active) {
  color: inherit !important;
}

.tocWrapper :global(a:not(.table-of-contents__link--active)) {
  @apply !text-zinc-400;
}

/* Enable if you want to hide empty sidebar */
/* 
:global(.docs .container .row:last-child:has(.col) .col) {
  max-width: 100% !important;
} */

@media (max-height: 800px) {
  :global(.docs .container .row .col) {
    max-width: 100% !important;
  }
  :global(.docs .container .row .col--3) {
    display: none;
  }
}

@media (max-width: 1200px) {
  :global(.docs .container .row .col) {
    max-width: 100% !important;
  }
  :global(.docs .container .row .col--3) {
    display: none;
  }
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }
  .docItemContainer {
    padding: 0 0.3rem;
  }
}
