.tocWrapper {
  position: relative;
  overflow: visible !important;
  height: 100%;
}

.tocContent {
  position: sticky;
  top: 100px;
}

.tocWrapper h6 {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 2px;
  font-weight: 700;
}

.tocWrapper ul {
  border-left: 0px !important;
}
.tocWrapper a {
  @apply text-base hover:dark:brightness-[120%] hover:brightness-[80%];
}

.tableOfContents {
  /* position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem); */
}

.tocWrapper :global(.table-of-contents__link--active) {
  color: inherit !important;
}

.tocWrapper :global(a:not(.table-of-contents__link--active)) {
  @apply !text-zinc-400;
}

@media (max-height: 650px) {
  .tocWrapper {
    display: none;
  }
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
