.features {
  margin: 50px auto;
}

.list {
  display: grid;
  gap: 30px 80px;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature {
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: auto 1fr;
}

.feature > * {
  margin: 0;
}

.imageWrapper {
  padding: 14px;
  border-radius: 4px;
  background: var(--ifm-color-emphasis-100);
  height: 70px;
}

.featureSvg {
  width: 40px;
  height: 40px;
}

.details {
  padding: 5px 0;
  line-height: 1.4;
}

.details a {
  font-size: 0.8em;
}

.description {
  flex: 1 1 auto;
  font-family: "Viga", sans-serif;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .list {
    gap: 30px 40px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .list {
    gap: 30px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .description {
    font-size: 0.8em;
  }
  .details a {
    font-size: 0.7em;
  }

  .list {
    gap: 20px;
    grid-template-columns: 1fr;
  }

  .imageWrapper {
    padding: 10px;
    border-radius: 4px;
    background: var(--ifm-color-emphasis-100);
    height: 50px;
  }
  .featureSvg {
    width: 30px;
    height: 30px;
  }
}
