.container {
  padding: 80px 0;
  background: #dfdfdf;
  border-top: 1px solid var(--ifm-color-secondary-dark);
  border-bottom: 1px solid var(--ifm-color-secondary-dark);
  background-image: radial-gradient(var(--ifm-color-emphasis-500) 1px, transparent 1px),
    radial-gradient(var(--ifm-color-emphasis-500) 1px, transparent 1px);
  background-position: 0 0, 60px 60px;
  background-size: 30px 30px;
}

html[data-theme="dark"] .container {
  background-color: var(--section-background);
  border-top: 1px solid var(--ifm-toc-border-color);
  border-bottom: 1px solid var(--ifm-toc-border-color);
  background-image: radial-gradient(rgba(0, 0, 0, 0.05), 1.3px, transparent 1.3px),
    radial-gradient(rgba(0, 0, 0, 0.05), 1.3px, transparent 1.3px);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.title {
  font-weight: 900;
}

.title span {
  color: var(--ifm-color-primary);
}
