.container {
  position: relative;
  width: 350px;
  z-index: 5;
  margin-right: 20px;
  border-radius: 0 8px 8px 0;
}

@media (max-width: 992px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
    background: var(--white-super-light);
    padding: 10px;
    overflow-y: auto;
  }
}

/* Blocks */

.resetBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: transparent;
  font-family: PlainRegular;
  font-size: 12px;
  border: 0;
  padding: 0;
  color: var(--blue);
}

.block {
  padding: 25px 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 7.5px 0.5px rgba(184, 186, 192, 0.2);
  background-color: var(--white);
  margin-bottom: 20px;
}

/* Search */

.search {
  width: 100%;
}
