.container {
  position: relative;
  min-height: 400px;
  padding: 80px 0 100px;
}

.wrapper {
  position: relative;
  z-index: 2;
}

.title {
  margin: 0px auto 120px;
  text-align: center;
  font-family: "Viga", sans-serif;
}

.tagline {
  font-size: 3.8em;
  max-width: 700px;
  margin: 0 auto 100px;
  text-align: center;
  font-weight: 900;
}

html[data-theme="dark"] .tagline {
  text-shadow: 0px 0px 3px var(--ifm-color-emphasis-200);
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.powered {
  display: flex;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  font-family: "Viga", sans-serif;
  left: 50%;
  transform: translateX(-50%);
}
.powered a {
  margin-left: 5px;
}

@media (max-width: 650px) {
  .tagline {
    font-size: 3em;
  }
}

@media (max-width: 450px) {
  .tagline {
    font-size: 2.2em;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .tagline {
    font-size: 1.8em;
  }
}

/* Animation */
.animation {
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 0;
  right: 0;
  overflow: hidden;
}

.waves {
  width: 100%;
  height: 330px;
  min-width: 1300px;
}

.waves > path {
  -webkit-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -moz-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -ms-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -o-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -moz-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -ms-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -o-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -webkit-will-change: transform;
  -moz-will-change: transform;
  -ms-will-change: transform;
  -o-will-change: transform;
  will-change: transform;
}

.waves > path:nth-of-type(1) {
  -webkit-animation-duration: 20580ms;
  -moz-animation-duration: 20580ms;
  -ms-animation-duration: 20580ms;
  -o-animation-duration: 20580ms;
  animation-duration: 20580ms;
}

.waves > path:nth-of-type(2) {
  -webkit-animation-delay: -2690ms;
  -moz-animation-delay: -2690ms;
  -ms-animation-delay: -2690ms;
  -o-animation-delay: -2690ms;
  animation-delay: -2690ms;
  -webkit-animation-duration: 13580ms;
  -moz-animation-duration: 13580ms;
  -ms-animation-duration: 13580ms;
  -o-animation-duration: 13580ms;
  animation-duration: 13580ms;
}

.container g > path:nth-of-type(1) {
  -webkit-animation-delay: -820ms;
  -moz-animation-delay: -820ms;
  -ms-animation-delay: -820ms;
  -o-animation-delay: -820ms;
  animation-delay: -820ms;
  -webkit-animation-duration: 10730ms;
  -moz-animation-duration: 10730ms;
  -ms-animation-duration: 10730ms;
  -o-animation-duration: 10730ms;
  animation-duration: 10730ms;
}

.waves > path:nth-of-type(1),
.container g > path:nth-of-type(2) {
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-moz-keyframes a {
  0% {
    -moz-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-ms-keyframes a {
  0% {
    -ms-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-o-keyframes a {
  0% {
    -o-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes a {
  0% {
    -webkit-transform: translateX(-750px);
    -moz-transform: translateX(-750px);
    -ms-transform: translateX(-750px);
    -o-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
