.container {
  padding: 100px 0;
  background: var(--section-background);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 60px;
}

.title:after {
  display: block;
  content: "";
  margin-top: 10px;
  width: 80px;
  height: 2px;
  background: var(--ifm-color-primary);
}

.description {
  font-size: 0.9rem;
  color: var(--ifm-color-emphasis-800);
  opacity: 0.95;
}

@media (max-width: 992px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .row {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 1.2em;
  }
  .description {
    font-size: 1em;
  }
}
